
.about-sec {
    padding-top: 5rem;
}

.about_container {
    width: 80%;
    margin: 4rem auto 0;
}

.about_container h1 {
    text-align: center;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
  }
  
  .share-blob {
    position: relative;
    margin: 2rem 0;
    width: 100%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    left: 0;
    opacity: 1;
  }
  
  .share-portfolio-img-box {
    position: relative;
    width: 100%;
  }

  .share-portfolio-img {
    width: 60%;
    position: absolute;
    top:3rem;
    left: 0;
    right:0;
    bottom: 0;
    margin:auto;

  }
  
  .about_container p {
    width: 100%;
    color: var(--fourth-color);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;

  }
/* IPAD  */

@media only screen and (min-width: 768px) {
  .share-blob {
    position: relative;
    margin: 2rem 1rem 3rem;
    width: 90%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    left: 0;
    opacity: 1;
  }
  
  .share-portfolio-img-box {
    position: relative;
    width: 100%;
  }

  .share-portfolio-img {
    width: 40%;
    position: absolute;
    top:-1rem;
    left: 0;
    right:0;
    bottom: 0;
    margin:auto;

  }
}



  /* IPAD PRO */

@media only screen and (min-width: 1024px) {
    .about-sec  {
        margin-bottom: 20rem;
      }

      .about_container  h1 {
        float: left;
        margin-right: 14.5rem;
        margin-bottom: 1rem;
        text-align: left;
      }
      .about_container p {
        width: 50%;
        color: var(--fourth-color);
        text-align: left;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        line-height: 40px;
    
      }
      .share-blob {
        float: right;
        position: relative;
        margin: -5rem 0 2rem;
        width: 50%;
        opacity: 0.8;
      }
    
      .share-blob.two {
        position: absolute;
        left: 30rem;
        top: 15rem;
        opacity: 1;
      }

      .share-portfolio-img-box {
        position: relative;
        width: 100%;
      }
    
      .share-portfolio-img {
        width: 30%;
        position: absolute;
        top:-40%;
        left: 30rem;
        right:0;
        bottom: 0;

      }
}

/* START COMPUTER SCREEN DESIGN */
@media only screen and (min-width: 1200px) {
    .about-sec  {
        margin-bottom: 40rem;
      }
    .about_container  h1 {
        float: left;
        margin-right: 14.5rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
        text-align: left;
      }
      .about_container p {
        float: left;
        width: 40%;
        text-align: left;
        font-size: 1rem;
        line-height: 30px;
    
      }
      .share-blob {
        float: right;
        position: relative;
        margin: -4rem 0 2rem;
        width: 50%;
        opacity: 0.8;
      }
    
      .share-blob.two {
        position: absolute;
        top: 10rem;
        left: 40rem;
        opacity: 1;
      }


    
      .share-portfolio-img {
        width: 20%;
        position: absolute;
        top:30%;
        left: 37rem;
        right:0;
        bottom: 0;

      }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

}