.about-sec {
  padding-top: 5rem;
}

.about_container {
  width: 80%;
  margin: 4rem auto 0;
}

.about_container h1 {
  text-align: center;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.share-blob {
  position: relative;
  margin: 2rem 0;
  width: 100%;
  opacity: 0.8;
}

.share-blob.two {
  position: absolute;
  left: 0;
  opacity: 1;
}

.share-portfolio-img-box {
  position: relative;
  width: 100%;
}

.share-portfolio-img {
  width: 60%;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.about_container p {
  width: 100%;
  color: var(--fourth-color);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.core_container {
  width: 90%;
  margin: 7rem auto 0;
}

.core_container h1 {
  text-align: center;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.core_container p {
  margin-top: 1rem;
  width: 100%;
  color: var(--fourth-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.core-features_wrapper {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
.core_blobimg_wrapper {
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: -8rem;
}
.core_blobimg {
  width: 60%;
}

.core_features_box {
  display: block;
  width: 100%;
  padding: 2rem 2rem 3rem;
  background: var(--third-color) no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000008;
  margin: 0 auto 5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  z-index: 1;
}
.core-features_img_wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.core-features_img_wrapper img {
  width: 40%;
}
.core_features_box h4 {
  text-align: center;
  margin: 1rem 0;
  color: #3374ea;
}


.team-wrapper {
  margin-top: -15rem;
  background-color: #3374ea;
  /* height: 60vh; */
  z-index: -1;
  position: relative;
  padding: 10rem 0 4rem;
}

.custom-shape-divider-top-1646868710 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1646868710 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1646868710 .shape-fill {
  fill: var(--light-color);
}

.team_content {
  text-align: center;
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
}


.team_content h1  {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
}
.team_content p {
  color: white;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.team_memebers_box {
  width: 85%;
  padding: 0 20px 50px;
  background: transparent linear-gradient(180deg, #22a1f5 0%, #677bff 100%) no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000008;
  margin: 9rem auto 5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.team_memebers_box_img_box {
  margin: auto;
  position: relative;
  top: -4rem;
  margin-bottom: -3rem;
  height: 7rem;
  width: 7rem;
  border: 3px solid var(--light-color);
  border-radius: 50%;
  overflow: hidden;
}

.team_memebers_box_img_box img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}



.team_memebers_box h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 7px;
}
.team_memebers_box h4 {
  color: #F7FF00;
  text-align: center;
  margin: 0.4rem auto 0;
  font-size: 0.8rem;
  line-height: 30px;
}

.reviews p {
  color: #ffffff;
  margin-top: 20px;
  font-size: 17px;
}

.custom-shape-divider-bottom-1646872311 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646872311 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 78px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1646872311 .shape-fill {
  fill: var(--light-color);
}

.we_made {
  margin-top: 5rem; 
  text-align: center;
}

.we_made h1{
  color: #3374ea; 
  font-weight: 600;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
}
.mySlides {
  /* height: 40px; */
}


/* The dots/bullets/indicators */
.dot-wrapper {
  text-align: center;
  margin: auto;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #ccc;
  box-shadow: 0px 10px 10px #00000008;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #3374ea;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


/* IPAD  */

@media only screen and (min-width: 768px) {
  .about_container h1 {
    font-weight: 800;
  }
  .share-blob {
    position: relative;
    margin: 2rem 1rem 3rem;
    width: 90%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    left: 0;
    opacity: 1;
  }

  .share-portfolio-img-box {
    position: relative;
    width: 100%;
  }

  .share-portfolio-img {
    width: 40%;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .core_feature_main_wrapper {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    margin: 2rem 1rem 0;
  }

  .core_blobimg_wrapper {
    z-index: -1;
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
    position: relative;
    margin-bottom: -5rem;
  }

  .core_blobimg {
    width: 50%;
  }

  .core_features_box {
    padding: 2rem 2rem 3rem;
    background: var(--third-color) no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000008;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
  }

  .team_memebers_box {
    width: 40%;
    margin: 8rem 1rem 0;
    display: inline-block;
  }

}

/* IPAD PRO */

@media only screen and (min-width: 1024px) {
  .about-sec {
    margin-bottom: 20rem;
  }

  .about_container h1 {
    float: left;
    margin-right: 14.5rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 800;
  }
  .about_container p {
    width: 50%;
    color: var(--fourth-color);
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
  }
  .share-blob {
    float: right;
    position: relative;
    margin: -5rem 0 2rem;
    width: 50%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    left: 30rem;
    top: 15rem;
    opacity: 1;
  }

  .share-portfolio-img-box {
    position: relative;
    width: 100%;
  }

  .share-portfolio-img {
    width: 30%;
    position: absolute;
    top: -40%;
    left: 30rem;
    right: 0;
    bottom: 0;
  }



  .core_blobimg_wrapper {
    z-index: -1;
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
    position: relative;
    margin-bottom: -5rem;
  }

  .core_blobimg {
    width: 40%;
  }
  .team_content {
    width: 80%;
    margin: 5rem auto 5rem;
  }
}

/* START COMPUTER SCREEN DESIGN */
@media only screen and (min-width: 1200px) {
  .about-sec {
    margin-bottom: 30rem;
  }
  .about_container h1 {
    float: left;
    margin-right: 14.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: left;
  }
  .about_container p {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 1rem;
    line-height: 30px;
  }
  .share-blob {
    float: right;
    position: relative;
    margin: -4rem 0 2rem;
    width: 40%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    top: 10rem;
    left: 45rem;
    opacity: 1;
  }

  .share-portfolio-img {
    width: 20%;
    position: absolute;
    top: 8rem;
    left: 40rem;
    right: 0;
    bottom: 0;
  }
  .core_container h1 {
    font-weight: 800;
  }
  .core_feature_main_wrapper {
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    margin: 3rem 1rem 5rem;
  }
  .core_feature_main_wrapper:hover {
    transition: 1s;
    filter: saturate(100%);
    transform: scale(1.1);
  }

  .core_blobimg_wrapper {
    z-index: -1;
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
    position: relative;
    margin-bottom: -5rem;
  }

  .core_blobimg {
    width: 40%;
  }



  .core_features_box {
    padding: 2rem 2rem 3rem;
    background: var(--third-color) no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000008;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
  }

  .team-wrapper {
    margin-top: -25rem;
    padding: 20rem 0 5rem;
  }
  .team_content {
    width: 80%;
    margin: 5rem auto 5rem;
  }
  
  .team_memebers_box {
    width: 30%;
    margin: 8rem 1rem 0;
    display: inline-block;
  }
  
}

/* ----------- Retina Screens ----------- */
/* @media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { */
  @media only screen  and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{ 
  .share-blob {
    float: right;
    position: relative;
    margin: -2rem 0 2rem;
    width: 35%;
    opacity: 0.8;
  }

  .share-blob.two {
    position: absolute;
    top: 13rem;
    left: 50rem;
    opacity: 1;
  }

  .share-portfolio-img {
    width: 20%;
    position: absolute;
    top: -5rem;
    left: 46rem;
    right: 0;
    bottom: 0;
  }
}
