.aml-policy {
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem;
}


.aml-policy h1 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.aml-policy h3 {
    text-align: center;
    margin: 2rem 0;
    color: var(--dark-color);

}

.aml-policy p {
    line-height: 2rem;
}

@media only screen and (min-width: 1024px) {
    .aml-policy h1 {
        margin-top: 3rem;
    }
}