
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.icon1{
    position: absolute;
    top: 300px;
    left: 30px;
    width: 100px;
    height: 80px;

}
.icon2{
    position: absolute;
    top: 350px;
    right: -10px;
    width: 140px;

}
.icon3{
    position: absolute;
    top: 500px;
    left: -20px;
    width: 140px;
}

.first-page {
    width: 100%;
    position: relative;
}
.blob-wrapper {
    position: relative;
    top: 40px;
    overflow-x: hidden;
    z-index: -1;
    height: 710px;
}
.blob1 {
    object-fit: cover;
    position: relative;
    top: -28rem;
    left: -175px;
    margin-left: -100px;
    height: 1460px;
    width: 1459px;
}

/* blob1-d will not be displayed on mobile screen - cux it's another image with another style */
.blob1-d {
    display: none;
}

.background-svg {
    display: none;
}

.about {
    position: absolute;
    top: 170px;
}
.about h1 {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    font-weight: bold;
    margin: 0 auto ;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
  }
  .slideshow-container p {
    font-weight: bold;
    width: 90%;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 10px auto;
  }
  
  /* The dots/bullets/indicators */
  .dot-wrapper {
      text-align: center;
      margin: auto;
  }
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot-active {
    background-color: greenyellow;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .app-downloads{
    position: absolute;
    margin-top: 2.5rem;
  }
  .app-download {
      display: block;
      width: 40%;
      margin: 10px auto;
  }

  .appUI-wrapper {
      position: relative;
      top: 160px;
      width: 100%;
      overflow: hidden;
  }
  .appui {
      width: 100%;
      margin-left: 18px;
  }
  .display-hover {
      display: none;
  }
  .review-section {
    position: relative;
    top: 500px;
    width: 100%;
    height: 70vh;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 70rem;
}
.review-section h1{
    color: #3374ea;
    text-align: center;
    font-weight: 800;
    margin-bottom: 90px;
} 
.review-section p {
    text-align: center;
    margin-top: 4px;
    color: #525B6D;
}
.review-box {
    margin-top: 40px; 
}
.box{
    width: 340px;
    height: 380px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000008;
    display: block;
    margin: 60px auto 90px;
    font-family: 'Montserrat', sans-serif;
    border-radius:  10px;
}
.box-img {
    position: relative;
    top: -60px;
	height: 148px;
	width:  148px;
	margin: auto;
	border: 8px solid #F2F8FF;
	border-radius: 50%;
	overflow: hidden;
}
.review-img {
    position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	object-fit: cover;
	transition: 0.3s ease;
}

.review-img:hover{
	filter: saturate(140%);
	transform: scale(0.95);
}

.star {
    text-align: center;
    margin-bottom: 10px;
}
.box h3 {
    text-align: center;
    color: #3374ea;
    margin-bottom: 7px;
}
.box p {
    color: #707070;
    font-size: 14px;
}
.reviews {
    padding: 10px;
}
.reviews p {
    margin-top: 20px;
    font-size: 17px;
}
/* Fade in codes starts from here */

 .fadeIn-scroll {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fadeIn-scroll.appear {
    opacity: 1;
}
/* 
.left {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}
.right {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
}

.left,
.right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}
.left.appear,
.from.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
} */
/* fade in codes ends here */
.app-features {
    height: 1000px;
    position: relative;
    padding-top: 25rem;
    width: 80%;
    margin: auto;
}

.app-features h1 {
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}
.app-features p {
    color: #525B6D;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.other-p {
    margin-top: 30px;
}
.copy-traders, .see-leaders, .get-signal {
    margin: 30px auto 20px;
}
.copy-img-box {
    width: 100%;
    margin-left: 20px;
}
.copy-img  {
    width: 100%;
    margin-left: 10px;
}
.get-signal {
    position: relative; 
    top: 38rem;
}

.get-signal h1 {
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}
.signal-details {
    width: 80%;
    position: relative;
    top: 90px;
    color: #525B6D;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
}


.blob-signal-wrapper {
    position: absolute;
    top: 100px;
    z-index: -1;
    width: 100%;
    overflow-x: hidden;

}

.signal-blob {
    position: relative;
    top: -6rem;
    left: -150px;
    height: 860px;
    width: 1000px;
}

.signal-packs{
    position: absolute;
    top: 200px;
    left: 250px;
    width: 100px;
    height: 110px;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 20px 17px #1C19230D;
    border-radius: 10px;
    transform: rotate(2.4deg)
}
.signal-packs.two {
    position: absolute;
    top: 340px;
    left: 240px;
}

.signal-packs.three {
    position: absolute;
    top: 475px; 
    left: 230px;
}
.pack-img-wrapper {
    position: relative;
    top: -20px;
	height: 60px;
	width: 60px;
	margin: auto;
	border-radius: 50%;
    background-color: #3374EA;
}
.signal-packs p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #404040;
    margin-top: -15px;
    line-height: 1.2;
}
.signal-packs h5 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #3374EA;
    font-weight: 700;
    margin-top: 2px;
}
.pack-img {
    width: 30px;
    height: 60px;
    margin-left: 15px;
}

.main-signal-wrapper {
    display: none;
}
.signal-planner-wrapper {
    position: relative;
    top: 4.1rem;
    left: -30px;
    width: 90%;
}

.signal-planner{
    width: 100%;
}
/* starts custom divider */
.custom-shape-divider-top-1644369928 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644369928 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1644369928 .shape-fill {
    fill: #F2F8FF;
}

.custom-shape-divider-bottom-1644370252 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644370252 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 95px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1644370252 .shape-fill {
    fill: #F2F8FF;
}

/* Ends custom divider */

.meet-leaders {
    position: relative;
    top: 45rem;
    width: 100%;
    float: left;
    height: 1100px;
    /* background-color: #677BFF; */
    background: transparent linear-gradient(180deg, #22A1F5 0%, #677BFF 100%) 0% 0% no-repeat padding-box;
    padding-top: 100px;
    overflow: hidden;
    margin-bottom: 800px;
}


.section-title{
	position: relative;
	width: 80%;
	padding-bottom: 40px; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.section-title p{
	font-size: 13px;
	line-height: 20px;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #fff;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 40%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #da0c0c46;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 65px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #74BEFF;
	border:1px solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
    height: 350px;
    width: 90%;
    margin: 0 auto;
}


.testimonials-avatar h3{
	font-weight: 600;
	color: #fff;
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.leader-level {
    position:absolute;
    right: -5px;
    top: -20px;
}
.swiper-slide-active .testimonials-text {
	background: #22A1F5; 
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text h3 {
    text-align: center;
}
.testimonials-text .username {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 8px ;
    text-align: center;
    color: #F7FF00;
}
.testimonials-text p{
	color: white;
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
    text-align: center;
}

.signal-img-wrapper {
    position: absolute;
	left: 10%;
	top: 250px;
	margin-left: -28px;
}
.signal-img-wrapper img {
    width: 350px;

}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
    text-align: center;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #F7FF00;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}

.leaders-app-download {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.leaders-app-download img{
    width: 230px;
    margin-top: 5px;
    padding-right: 30px;
}


/* custom shape divider starts here */

.custom-shape-divider-bottom-1644463655 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644463655 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 135px;
}

.custom-shape-divider-bottom-1644463655 .shape-fill {
    fill: #FFFFFF;
}

/* custom shape divider starts here */

/* .app-features-two {
    position: relative;
    top: 114rem;
    width: 100%;
}

.create-trade-plan {
    position: relative;
    padding-top: -45rem;
    
} */
.app-features-two h1 {
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}
 .app-features-two p {
    margin: 30px auto;
    width: 80%;
    color: #525B6D;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
   
.trade-lessons h1 {
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
} 


.trade-img-box {
    width: 90%;
}
.trade-img  {
    width: 100%;
}
.record-img-box {
    width: 90%;
}
.record-img {
    width: 100%;
}
/* cutom svg shape divider  starts*/
.auto-sec {
    margin-top: 150px;
    position: relative;
    background-color: #22A1F5;
}
.custom-shape-divider-top-1644623960 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644623960 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 133px;
}

.custom-shape-divider-top-1644623960 .shape-fill {
    fill: #F2F8FF;
}
/* shape divider ends here */

.auto-track {
    padding-top: 150px;
    padding-bottom: 100px;
}
.auto-track h1 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}
.auto-track p {
    margin: 30px auto;
    width: 80%;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.track-img-box {
    width: 90%;
    margin: 0 auto;
}
.auto-track-img {
    width: 100%;
}

.auto-button,
.auto-button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
.auto-button {
    margin:  0 auto;
    background: none;
    border: 3px solid #fff;
    border-radius: 40px;
    color: #fff;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
  }
.auto-button::before,
.auto-button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.auto-button:hover {
  background-color: #fff;
  color: #3374ea;
}
.custom-shape-divider-bottom-1644660326 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644660326 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1644660326 .shape-fill {
    fill: #F2F8FF;
}


.profit-loss-sec {
    margin-top: 60px;
    margin-bottom: 30px;
}
.profit-loss {
    width: 95%;
    margin: 0 auto;
}

.profit-loss h1 {
    text-align: center;
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
}
.Hprofit {
    color: #00BE13;
}
.Hslash {
    color: #BCBCBC;
}
.Hloss {
    color: #FF0000;
}
.proft-loss-img-box {
    width: 90%;
    margin: 0 auto;
}
.proft-loss-img {
    width: 100%;
}


/* share */

.share-portfolio-sec {
    background-color: #fff;
    position: relative;
}
.custom-shape-divider-top-1644670257 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644670257 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1644670257 .shape-fill {
    fill: #F2F8FF;
}

.share-portfolio {
    padding-top: 110px;
    padding-bottom: 200px; 

}

.share-portfolio h1 {
    text-align: center;
    color: #3374EA;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
/* .share-blob-wrapper {
    position: absolute;
    width: 100%;

}

.share-blob {
    position: relative;
    top: 5rem;
    width: 100%;
} */

.share-portfolio-img-box {
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    
}
.share-portfolio-img {
    width: 100%;
}

.share-portfolio p {
    margin: 30px auto;
    width: 80%;
    color: #525B6D;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.custom-shape-divider-bottom-1644669891 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644669891 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 169px;
}

.custom-shape-divider-bottom-1644669891 .shape-fill {
    fill: #F2F8FF;
}

/* START IPAD PRO SCREEN SIZE DESIGN */

@media only screen and (min-width: 1024px) {
    .icon1{
        position: absolute;
        top: 200px;
        left: 910px;
        width: 100px;
    
    }
    .icon2{
        position: absolute;
        top: 600px;
        right: 140px;
        width: 15%;
    
    }
    .icon3{
        position: absolute;
        top: 350px;
        left: 550px;
        width: 15%;
    }
    .blob-wrapper {
        height: 750px;
        position: relative;
        top: -100px;
        overflow-x: hidden;
    }
    .blob1 {
        display: none;
    }
    .blob1-d {
        display: block;
        object-fit: cover;
        position: absolute;
        top: -12.5rem;
        left: 29rem;
        height: 1100.33px;
        width: 1000.04px;
        transform: translateY(27px);
    }
    .background-svg {
        display: block;
        position: absolute;
        top: 120px;
        left: 87px;
        width: 40%;
        opacity: 0.06;
    }
    .about {
        left: 60px;
        width: 50%;
    }
    .about h1 {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        margin: 10px  0;
        color: #3374ea;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 0;
    }
        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            /* margin: auto; */
        }
        .slideshow-container p {
            font-weight: unset;
            width: 60%;
            color: #525B6D;
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            margin: 10px;
        }
        
        /* The dots/bullets/indicators */
        .dot-wrapper {
            text-align: left;
            margin-left: 10px;
            margin-top: -20px;
        }
        .dot {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .dot-active {
            background-color: #3374ea;
        }
        .app-download {
            display: inline-block;
            width: 35%;
            margin: 10px auto;
        }
          .appUI-wrapper {
            position: absolute;
            top: -110px;
            left: 37rem;
            width: 80%;
        }
        .appui {
            width: 70%;
    
        }
        .review-section {
            top: 0;
            height: 45vh;
            margin-bottom: 0;
        }
        .review-section h1{
            font-size: 30px;
        } 
        .box{
            width: 340px;
            height: 360px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000008;
            display: block;
            margin: 20px 5px 90px;
            font-family: 'Montserrat', sans-serif;
            border-radius:  10px;
        }
        .box-img {
            position: relative;
            top: -60px;
            height: 148px;
            width:  148px;
            margin: auto;
            border: 8px solid #F2F8FF;
            border-radius: 50%;
            overflow: hidden;
            
        }
        .review-box {
            display: flex;
            flex: wrap;
            align-items: center;
        }
        .box p {
            font-size: 17px;
        }
        .app-features {
            height: 1100px;
            position: relative;
            padding-top: 0;
            width: 80%;
            margin: auto;
        }
        
        .app-features h1 {
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 40px;
            text-align: center;
        }
        .app-features p {
            color: #525B6D;
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
        }
        .other-p {
            margin-top: 40px;
        }
        .copy-traders, .see-leaders, .get-signal {
            margin: 30px auto 60px;
        }
        .copy-img-box {
            width: 100%;
            margin-left: 20px;
        }
        .copy-img {
            width: 80%;
            margin: 0 auto;
        }
        
        .get-signal {
            position: relative; 
            top: 70rem;
        }
        
        .get-signal h1 {
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 40px;
            width: 80%;
            margin: 0 auto;
        }

        .signal-details {
            top: -200px;
            font-size: 30px;
        }

        
        .blob-signal-wrapper {
            position: absolute;
            top: -40px;
            z-index: -1;
            width: 100%;
            overflow-x: hidden;
        
        }
        
        .signal-blob {
            position: relative;
            top: -3rem;
            left: 50px;
            width: 1415px;
            height: 1600px;
        }
        
        .signal-packs {
            position: absolute;
            top: 200px;
            left: 700px;
            width: 180px;
            height: 210px;
            background: #FFFFFF;
            box-shadow: 0px 20px 17px #1C19230D;
            border-radius: 10px;
            transform: rotate(5deg);
            z-index: 2;
        }
        .signal-packs.two {
            position: absolute;
            top: 430px;
            left: 550px;
        }
        
        .signal-packs.three {
            position: absolute;
            top: 445px; 
            left: 800px;
        }
        .pack-img-wrapper {
            position: relative;
            top: -28px;
            height: 100px;
            width: 100px;
            margin: auto;
            border-radius: 50%;
            background-color: #3374EA;
        }
        .pack-img {
            width: 60px;
            height: 60px;
            margin-top: 16px;
            margin-left: 20px;
        }
        .signal-packs p {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            margin-top: -px;
            font-size: 25px;
        }
        .signal-packs h5 {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            color: #3374EA;
            font-weight: 600;
            margin-top: 2px;
            font-size: 28px;
        }
        
        .main-signal-wrapper {
            display: block;
            width: 30%;
        }

        .main-signal-img{            
            position: relative;
            top: -410px;
            left: 600px;
            width: 100%;
        }
        
        .signal-planner-wrapper {
            position: relative;
            top: 1.2rem;
            left: 30px;
            width: 100%;
        
        }
        
        .signal-planner{
            width: 60%;
        }

        .meet-leaders {
            top: 60rem;
            width: 100%;
            height: 1000px;
            margin-bottom: 1000px;
        }
        .meet-leaders h1 {
            width: 90%;
            margin: 0 auto;
            color: #F2F8FF;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
        
        .leaders-p {
            width: 60%;
            margin: 10px auto 0;
            font-size: 20px;
        }
        .section-title p{
            width: 40%;
            margin: 0 auto;
        }
        .swiper-container {
            width: 80%;
        }
        .listing-carousel-button{
            position: absolute;
            top: 41%;
        }
        .signal-img-wrapper {
            position: absolute;
            left: 12%;
            top: 250px;
            margin-left: -35px;
        }
        .signal-img-wrapper img {
            width: 380px;
        }

        .app-features-two {
            width: 90%;
            margin: 0 auto;
        }
        .app-features-two h1 {
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 40px;
            text-align: center;
        }
        .app-features-two p {
            color: #525B6D;
            font-size: 30px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
            text-align: center;
        }
        .trade-lessons {
            width: 90%;
            margin: 0 auto;
        }
        .trade-lessons h1 {
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 40px;
            text-align: center;
        }
        .trade-lessons p {
            color: #525B6D;
            font-size: 30px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
            text-align: center;
        }
        .trade-img-box {
            width: 70%;
        }
        .trade-img{
            width: 90%;
            transition: 0.3s ease;
        }
        .trade-img:hover{
            filter: saturate(140%);
            transform: scale(0.90);
        }
        .record-img-box {
            width: 70%;
        }
        .record-img {
            width: 90%;
        }
        .auto-track {
            padding-top: 150px;
            padding-bottom: 300px;
        }
        .auto-track h1 {
            width: 80%;
            margin: 0 auto;
            color: #FFFFFF;
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            text-align: center;
        }
        .auto-track p {
            margin: 30px auto;
            width: 80%;
            color: #ffffff;
            text-align: center;
            font-size: 26px;
            font-family: 'Montserrat', sans-serif;
        }
        .track-img-box {
            width: 90%;
            margin: 0 auto;
        }
        .auto-track-img {
            width: 100%;
        }
        .profit-loss h1 {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 48px;
        }

        .proft-loss-img-box {
            width: 90%;
            margin: 0 auto;
        }
        .proft-loss-img {
            width: 80%;
            margin-left: 70px;
        }
        .share-portfolio h1 {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            color: #3374EA;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 48px;
        }
        .share-portfolio-box {
            width: 90%;
            margin: 0 auto;
        }
        .share-portfolio-img {
            width: 80%;
            margin-left: 70px;
        }
        .share-portfolio p{
            margin: 30px auto;
            width: 80%;
            color: #525B6D;
            text-align: center;
            font-size: 26px;
            font-family: 'Montserrat', sans-serif;
        }

}
/* START COMPUTER SCREEN DESIGN */
@media only screen and (min-width: 1200px) {
    .icon1{
        position: absolute;
        top: 200px;
        left: 1148px;
        width: 200px;
        height: 157px;
    
    }
    .icon2{
        position: absolute;
        top: 600px;
        right: 140px;
        width: 15%;
    
    }
    .icon3{
        position: absolute;
        top: 300px;
        left: 720px;
        width: 193px;
    }
    .blob-wrapper {
        height: 1000px;
        position: relative;
        top: -100px;
        overflow-x: hidden;
    }
    
    .blob1-d {
        display: block;
        object-fit: cover;
        top: -11.6rem;
        left: 653px;
        height: 1100.33px;
        width: 1000.04px;
        transform: translateY(27px);
        z-index: -1;
    }
    .background-svg {
        display: block;
        position: absolute;
        top: 70px;
        left: 87px;
        width: 35%;
    }
    .about {
        left: 140px;
        width: 50%;
        top: 130px;
    }
    .about h1 {
        width: 70%;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        margin: 7px  0;
        color: #3374ea;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 0;
    }
    .slideshow-container p {
        width: 60%;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
      }
    .app-download {
        display: inline-block;
        width: 25%;
        margin: 10px auto;
    }

    .appUI-wrapper {
        overflow-x: hidden;
        position: absolute;
        top: -110px;
        left: 45rem;
        width: 70%;
    }

    .review-section {
        top: -200px;
        margin-bottom: 30px;
        height: 20vh;
        margin-bottom: 20rem;
    }
    .review-section h1{
        width: 50%;
        margin: 0 auto;
    }
    .review-box {
        margin-top: 60px;
        display: flex;
        flex: wrap;
        justify-content: center;

    }
    .box{
        width: 340px;
        height: 350px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000008;
        display: block;
        margin: 60px 9px 90px;
        font-family: 'Montserrat', sans-serif;
        border-radius:  10px;
    }
    .box-img {
        position: relative;
        top: -60px;
        height: 148px;
        width:  148px;
        margin: auto;
        border: 8px solid #F2F8FF;
        border-radius: 50%;
        overflow: hidden;
        
    }

    .box h3 {
        text-align: center;
    }
    .box p {
        color: #707070;
        font-size: 16px;
        font-weight: 400;
    }
    .app-features {
        height: 1100px;
        position: relative;
        padding-top: 160px;
        width: 80%;
        margin: auto;
    }
    
    .app-features h1 {
        color: #3374EA;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
    }
    .app-features p {
        color: #525B6D;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .other-p {
        margin-top: 30px;
    }

    .copy-img-box {
        width: 80%;
    }
    .copy-img{
        width: 50%;
        margin: 0 auto;
        transition: 0.3s ease;
    }
    .copy-img:hover{
        filter: saturate(140%);
        transform: scale(0.90);
    }
    .copy-traders {
        margin-bottom: 150px;
        padding-top: 80px;
    }
    .copy-traders h1 {
        width: 600px;
        text-align: left;
    }
    .copy-traders p {
        width: 500px;
        text-align: left;
    }
    .copy-traders .copy-img{
        position: absolute;
        top: 20px;
        left: 600px;
    }
    .see-leaders {
        position: relative;
        margin-bottom: 900px;
        padding-top: 170px;
    }
    .see-leaders h1 {
        width: 403px;
        float: right;
        text-align: left;
    }
    .see-leaders p {
        position: absolute;
        top: 320px;
        left: 680px;
        text-align: left;
    }
    .see-leaders .copy-img{
        position: absolute;
        top: 70px;
        left: 0;
    }
    .get-signal {
        position: relative; 
        top: 17rem;
    }
    
    .get-signal h1 {
        color: #3374EA;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 40px;
        width: 30%;
        position: absolute;
        top: 200px;
        left: 140px;
        text-align: left;
    }

    .signal-details {
        width: 30%;
        position: absolute;
        top: 400px;
        left: 140px;
        text-align: left;
        color: #525B6D;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    
    .blob-signal-wrapper {
        position: absolute;
        top: -40px;
        z-index: -1;
        width: 100%;
        overflow-x: hidden;
    
    }
    
    .signal-blob {
        position: relative;
        top: -3rem;
        left: 500px;
        width: 1200px;
        height: 1000px;
    }
    
    .signal-packs {
        position: absolute;
        top: 120px;
        left: 1100px;
        width: 95px;
        height: 110px;
        background: #FFFFFF;
        box-shadow: 0px 20px 17px #1C19230D;
        border-radius: 8px;
        z-index: 2;
    }
    .signal-packs.two {
        position: absolute;
        top: 220px;
        left: 1000px;
    }
    
    .signal-packs.three {
        position: absolute;
        top: 240px; 
        left: 1170px;
    }
    .pack-img-wrapper {
        position: relative;
        top: -20px;
        width: 53px;
        height: 53px;
        margin: auto;
        border-radius: 50%;
        background-color: #3374EA;
    }
    .pack-img {
        width: 25px;
        height: 23px;
        margin-top: 16px;
        margin-left: 13px;
    }
    .signal-packs p {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-top: -15px;
        font-size: 13px;
    }
    .signal-packs h5 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #3374EA;
        font-weight: 600;
        margin-top: 2px;
        font-size: 17px;
    }
    .main-signal-wrapper {
        display: block;
        position: relative;
        top: 100px;
        left: 390px;
        width: 30%;
    }
    .main-signal-img{
        width: 70%;
    }

    .signal-planner-wrapper {
        position: relative;
        top: 5rem;
        left: 560px;
        width: 30%;
    }
    
    .signal-planner{
        width: 100%;
        transition: 00.3s ease-out;
    }

    .signal-planner:hover{
        filter: saturate(140%);
        transform: scale(0.90);
    }

    .meet-leaders {
        top: 10rem;
        width: 100%;
        margin-bottom: 200px;
    }
    .swiper-container {
        width: 90%;
    }
    .listing-carousel-button{
        position: absolute;
        top: 40%;
    }
    .signal-img-wrapper {
        position: absolute;
        left: 13%;
        top: 250px;
        margin-left: -20px;
    }
    .signal-img-wrapper img {
        width: 320px;
    }


    .app-features-two h1 {
        color: #3374EA;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 40px;
        width: 40%;
        float: right;
        margin-top: 150px;
        text-align: left;

    }
    .app-features-two p {
        color: #525B6D;
        margin-top: -330px;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        width: 40%;
        float: right;
    }


    .trade-img-box {
        margin-left: 100px;
        width: 60%;
    }
    .trade-img{
        width: 50%;
        transition: 0.3s ease;
    }
    .trade-img:hover{
        filter: saturate(140%);
        transform: scale(0.90);
    }


    .trade-lessons {
        width: 80%;
        margin: 0 auto;
    }
    .trade-lessons h1 {
        color: #3374EA;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 40px;
        width: 40%;
        float: left;
        margin-top: 150px;
        text-align: left;

    }
    .trade-lessons p {
        color: #525B6D;
        margin-top: 20px;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        width: 40%;
        float: left;
    }
    .record-img-box {
        float: right;
        width: 60%;
    }
    .record-img {
        margin-left: 300px;
        width: 60%;
        transition: 0.3s ease;
    }
    .record-img:hover {
        filter: saturate(140%);
        transform: scale(0.90);
    }


    .auto-sec {
        margin-top: 800px;
        position: relative;
        background-color: #22A1F5;
    }
    .auto-track {
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .auto-track h1 {
        width: 40%;
        margin: 0;
        margin-left: 90px;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .auto-track p {
        margin: 30px 0;
        width: 30%;
        margin-left: 90px;
        color: #FFFFFF;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .track-img-box {
        width: 50%;
        position:absolute;
        top: 100px;
        left: 500px;
    }
    .auto-track-img {
        width: 60%;
        margin-left: 270px;

    }
    .auto-button {
        margin-left: 90px;
        background: none;
        border: 3px solid #fff;
        border-radius: 40px;
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
      }

      .proft-loss-img-box {
        width: 60%;
        margin: 0 auto;
    }
    .proft-loss-img {
        width: 50%;
        margin-left: 150px;
        
    }
    /* .. */
    .share-portfolio {
        height: 1000px;
        padding-top: 300px;
    }

    .share-portfolio h1 {
        color: #3374EA;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 40px;
        width: 40%;
        margin-left: 90px;
        text-align: left;

    }
    .share-portfolio p {
        color: #525B6D;
        margin-top: 20px;
        margin-left: 90px;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        width: 40%;
        float: left;
    }
    .share-portfolio-box {
        width: 50%;
        position:absolute;
        top: 100px;
        left: 500px;
    }
    .share-portfolio-img {
        width: 60%;
        margin-left: 270px;

    }
    .share-portfolio-img:hover {
        filter: saturate(140%);
        transform: scale(0.90);
    }


}