/* Mobile first design */

.first-page {
  padding-top: 1rem;
}

.background-svg {
  display: none;
}

.blob-wrapper {
  position: relative;
  overflow-x: hidden;
  z-index: -1;
}

.mobile-blob {
  object-fit: cover;
  position: relative;
  top: -15rem;
  left: -170px;
  margin-left: -100px;
  height: 60rem;
  width: 91.1875rem;
}

/* blob1-d will not be displayed on mobile screen - cux it's another image with another style */
.computer-blob {
  display: none;
}

.leaders-about {
  position: relative;
  top: -52rem;
  margin-bottom: -45rem;
}

.leaders-about h1 {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  font-weight: 700;
  margin: 10px auto 0;
  text-align: center;
  color: #fff;
  letter-spacing: 0;
}

.appui {
  position: relative;
  top: px;
  width: 100%;
}
.leaders-aboutP {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 4px;
  color: var(--fourth-color);
  line-height: 30px;
}

.app-download {
  display: block;
  width: 50%;
  margin: 2rem auto 0;
}

.signal-packs {
  display: none;
}

.leaders-features {
  position: relative;
  padding-bottom: 1rem;
}

.leaders-features h1 {
  text-align: center;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.leadersF-blob {
  margin-top: 2rem;
  width: 100%;
  z-index: -1;
}

.share-portfolio-img {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -17rem;
  margin-bottom: -19rem;
}

.leaders-features p {
  margin: 0 auto;
  width: 90%;
  color: var(--fourth-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.seeSubsimg {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -17rem;
  margin-bottom: -19rem;
}

.leaders-mobile {
  width: 100%;
  margin: 13rem auto 0;
}
.leaders-mobile h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0px;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-transform: capitalize;
}

.leaders-mobile {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 4px;
  color: var(--fourth-color);
  line-height: 30px;
}
.leaders-mobile-box {
  margin: 30px auto;
  width: 350px;
  padding: 0 20px 0;
  height: 450px;
  background: var(--third-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 17px #1c192305;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}
.leaders-mobile-box h3 {
  margin: 30px 0;
  text-align: center;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
}

.leaders-img-wrapper {
  position: relative;
  top: 0px;
  height: 90px;
  width: 90px;
  margin: auto;
  border: 8px solid #22a1f5;
  border-radius: 50%;
  overflow: hidden;
}
.leaders-img-wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.3s ease;
}

.star-review {
  margin-top: 20px;
}
.leaders-mobile-box p {
  margin: 20px 0;
  color: var(--fourth-color);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}


.splide .splide__pagination {
  position: relative;
  top: 10px;
  text-align: center;
}
.splide__pagination__page {
  background-color: #00be13;
}
.splide__pagination__page.is-active {
  background-color: blue;
}

/* IPAD  */

@media only screen and (min-width: 768px) {
  .blob-wrapper {
    position: relative;
    overflow-x: hidden;
    z-index: -1;
    height: 1500px;
    top: -100px;
  }

  .mobile-blob {
    object-fit: cover;
    position: relative;
    top: -20rem;
    margin-left: -100px;
    height: 90rem;
    width: 100rem;
  }
  .leaders-about {
    position: relative;
    top: -82rem;
    margin-bottom: -75rem;
  }

  .leaders-about h1 {
    font-family: "Montserrat", sans-serif;
    width: 70%;
    font-weight: 700;
    margin: 10px auto 0;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    margin-left: 6rem;
  }
  .appui {
    position: relative;
    top: px;
    width: 60%;
    margin-left: 5.5rem;
  }
  .leaders-aboutP {
    line-height: 30px;
    font-size: 1.5rem;
  }
  .app-download {
    display: block;
    width: 30%;
    margin: 4rem auto 0;
  }

  .leaders-features h1 {
    text-align: center;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .leadersF-blob {
    margin: 2.5rem auto 0;
    width: 90%;
    z-index: -1;
  }

  .share-portfolio-img {
    margin-left: 5rem;
    width: 80%;
    position: relative;
    top: -35rem;
    margin-bottom: -39rem;
  }

  .leaders-features p {
    margin: 0 auto;
    width: 90%;
    color: var(--fourth-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
  }
  .seeSubsimg {
    margin-left: 5rem;
    width: 80%;
    position: relative;
    top: -35rem;
    margin-bottom: -39rem;
  }

  .leaders-mobile-box {
    margin: 30px auto;
    width: 500px;
    padding: 20px 20px 0;
    /* height: 450px; */
    background: var(--third-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 17px #1c192305;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
  }

  .splide .splide__arrows {
    position: absolute;
    top: 170px;
  }
  .splide__arrows .splide__arrow--prev {
    left: -30px;
  }
  .splide__arrows .splide__arrow--next {
    left: 465px;
  }
}

/* IPAD PRO */

@media only screen and (min-width: 1024px) {
  .background-svg {
    display: block;
    position: absolute;
    top: 10rem;
    left: 5rem;
    width: 80%;
    opacity: 0.1;
  }
  .blob-wrapper {
    height: 670px;
    position: relative;
    top: -107px;
    overflow-x: hidden;
  }
  .mobile-blob {
    display: none;
  }
  .computer-blob {
    object-fit: cover;
    position: absolute;
    top: -15rem;
    left: 29rem;
    height: 68.770625rem;
    width: 62.5025rem;
    transform: translateY(27px);
  }

  .leaders-about {
    position: relative;
    top: -37rem;
    margin-bottom: -25rem;
  }
  .leaders-about h1 {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0.9rem 0;
    color: #3374ea;
    font-size: 2.9rem;
    font-weight: 800;
    letter-spacing: 0;
    padding: 0 4rem;
  }

  .appui {
    position: absolute;
    top: -60px;
    left: 35rem;
    width: 40%;
    display: none;
  }

  .leaders-aboutP {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    color: var(--fourth-color);
    font-size: 2rem;
    line-height: 50px;
  }
  .app-downloads {
    width: 100%;
    text-align: center;
  }
  .app-download {
    display: inline-block;
    width: 30%;
    margin: 2rem 1rem;
  }
  .leaders-features {
    margin-top: 10rem;
  }
  .leaders-features h1 {
    text-align: center;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 5rem;
  }

  .leadersF-blob {
    margin-top: 3rem;
    margin-left: 3.5rem;
    width: 90%;
    z-index: -1;
  }

  .share-portfolio-img {
    margin-left: 10rem;
    margin-bottom: -50rem;
    width: 70%;
    position: relative;
    top: -50rem;
  }

  .leaders-features p {
    margin: 0 auto;
    width: 90%;
    color: var(--fourth-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 50px;
  }
  .seeSubsimg {
    margin-left: 10rem;
    margin-bottom: -50rem;
    width: 70%;
    position: relative;
    top: -50rem;
  }
  .leaders-mobile {
    display: none;
  }
}

/* START COMPUTER SCREEN DESIGN */
@media only screen and (min-width: 1200px) {
  .background-svg {
    display: block;
    position: absolute;
    top: 15rem;
    left: 5.4375rem;
    width: 30%;
  }

  .blob-wrapper {
    height: 41rem;
    position: relative;
    top: -7.5rem;
    overflow-x: hidden;
  }

  .computer-blob {
    display: block;
    object-fit: cover;
    top: -1rem;
    left: 40.8125rem;
    width: 62.5025rem;
    width: 62.5025rem;
    height: 40rem;
    transform: translateY(27px);
    z-index: -1;
  }

  .leaders-about {
    position: relative;
    top: -37rem;
    margin-bottom: -33rem;
  }
  .leaders-about h1 {
    width: 50%;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin: 0.9rem 0;
    color: #3374ea;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0;
    padding: 0 4rem;
  }

  .appui {
    display: block;
    position: absolute;
    top: -3rem;
    left: 40rem;
    width: 25%;
  }

  .leaders-aboutP {
    width: 35%;
    text-align: left;
    margin-top: 4px;
    margin-left: 3.7rem;
    color: var(--fourth-color);
    line-height: 25px;
    font-size: 0.9rem;
  }
  .app-downloads {
    margin-left: 3rem;
    text-align: unset;
    width: 50%;
  }
  .app-download {
    display: inline-block;
    width: 15rem;
    margin: 2rem 1rem;
  }

  .signal-packs {
    display: block;
    position: absolute;
    top: 90px;
    left: 1090px;
    width: 95px;
    padding-bottom: 0.6rem;
    /* height: 110px; */
    background: var(--third-color);
    box-shadow: 0px 20px 17px #1c19230d;
    border-radius: 20px;
    z-index: 2;
    transform: rotate(2.4deg);
  }
  .signal-packs.two {
    position: absolute;
    top: 200px;
    left: 1020px;
  }

  .signal-packs.three {
    position: absolute;
    top: 205px;
    left: 1160px;
  }
  .pack-img-wrapper {
    position: relative;
    top: -20px;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #14cbff 0%, #366be8 100%)
      no-repeat padding-box;
  }
  .pack-img {
    width: 22px;
    height: 23px;
    margin-top: 6px;
    margin-left: 9px;
  }
  .signal-packs p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    font-size: 0.7rem;
  }
  .signal-packs h5 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #3374ea;
    font-weight: 600;
    margin-top: 2px;
    font-size: 17px;
  }
  .leaders-features {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .leaders-features h1 {
    float: right;
    margin-right: 14.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }

  .leadersF-blob {
    margin-top: 3rem;
    margin-left: 0;
    width: 40%;
    z-index: -1;
  }
  .leadersF-blob:hover {
    transform: rotate(20deg);
  }
  .share-portfolio-img {
    position: relative;
    top: -23rem;
    margin-left: 2rem;
    margin-bottom: -30rem;
    width: 30%;
  }

  .share-portfolio-img:hover {
    filter: saturate(100%);
    transform: scale(1.1);
  }

  .leaders-features p {
    width: 40%;
    color: var(--fourth-color);
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    float: right;
    margin-right: 3rem;
    margin-top: -12rem;
  }
  .leaders-features.two {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40rem;
  }
  .leaders-features.two h1 {
    float: left;
    margin-right: 14.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }
  .leaders-features.three h1 {
    float: right;
    margin-right: 5.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }
  .leadersF-blob.two {
    float: right;
    margin-top: 3rem;
    margin-left: 0;
    width: 40%;
    z-index: -1;
  }
  .leadersF-blob.two:hover {
    transform: rotate(20deg);
  }
  .seeSubsimg {
    position: relative;
    top: -22rem;
    margin-left: 23rem;
    margin-bottom: -30rem;
    width: 30%;
    float: right;
  }
  .seeSubsimg:hover {
    filter: saturate(100%);
    transform: scale(1.1);
  }
  .leaders-features.two p {
    float: left;
    margin-top: -10rem;
  }
  .app-downloads.wrapper {
    position: relative;
    top: -10rem;
    margin-left: 7rem;
  }

  .app-download.features {
    display: inline-block;
    width: 10rem;
    margin: 2rem 1rem;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .blob-wrapper {
    height: 1100px;
    position: relative;
    top: -100px;
    overflow-x: hidden;
  }

  .computer-blob {
    display: block;
    object-fit: cover;
    top: -13rem;
    left: 600px;
    height: 1300;
    width: 1300.04px;
    transform: translateY(27px);
    z-index: -1;
  }
}
