/* Mobile first design */

.first-page {
  padding-top: 1rem;
}

.background-svg {
  display: none;
}

.blob-wrapper {
  position: relative;
  overflow-x: hidden;
  z-index: -1;
}

.mobile-blob {
  object-fit: cover;
  position: relative;
  top: -15rem;
  left: -170px;
  margin-left: -100px;
  height: 60rem;
  width: 91.1875rem;
}

/* blob1-d will not be displayed on mobile screen - cux it's another image with another style */
.computer-blob {
  display: none;
}

.leaders-about {
  position: relative;
  top: -52rem;
  margin-bottom: -45rem;
}

.leaders-about h1 {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  font-weight: 700;
  margin: 10px auto 0;
  text-align: center;
  color: #fff;
  letter-spacing: 0;
}

.appui {
  position: relative;
  width: 80%;
}
.leaders-aboutP {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 4px;
  color: var(--fourth-color);
  line-height: 30px;
}

.app-download {
  display: block;
  width: 50%;
  margin: 2rem auto 0;
}

.signal-packs {
  display: block;
  position: absolute;
  top: 140px;
  left: 250px;
  width: 95px;
  padding-bottom: 0.6rem;
  background: var(--third-color);
  box-shadow: 0px 20px 17px #1c19230d;
  border-radius: 20px;
  z-index: 2;
  transform: rotate(2.4deg);
}
.signal-packs.two {
  position: absolute;
  top: 260px;
}

.signal-packs.three {
  position: absolute;
  top: 380px;
}
.pack-img-wrapper {
  position: relative;
  top: -20px;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background: transparent linear-gradient(180deg, #14cbff 0%, #366be8 100%)
    no-repeat padding-box;
}
.pack-img {
  width: 22px;
  height: 23px;
  margin-top: 6px;
  margin-left: 9px;
}
.signal-packs p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
  font-size: 0.7rem;
}
.signal-packs h5 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #3374ea;
  font-weight: 600;
  margin-top: 2px;
  font-size: 17px;
}

.leaders-features {
  position: relative;
  padding-bottom: 1rem;
}

.leaders-features h1 {
  text-align: center;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.leadersF-blob {
  margin-top: 2rem;
  width: 100%;
  z-index: -1;
}

.share-portfolio-img {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -17rem;
  margin-bottom: -19rem;
}

.leaders-features p {
  margin: 0 auto;
  width: 90%;
  color: var(--fourth-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.seeSubsimg {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -17rem;
  margin-bottom: -19rem;
}

.mobile-leaders-section {
  position: relative;
  top: 7rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10rem;
}
.mobile-leaders-section h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0px;
  color: #3374ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: capitalize;
}
.mobile-leaders-section h6 {
  text-align: center;
  margin: 0.4rem auto 0;
  width: 70%;
  color: var(--fourth-color);
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

.mobile-leaders-box-wrapper {
  margin-top: 2rem;
  margin-bottom: 20rem;
  position: relative;
}

.mobile-leaders-box-background {
  background: transparent linear-gradient(180deg, #22a1f5 0%, #677bff 100%)
    no-repeat padding-box;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  height: 30rem;
  width: 100%;
  position: absolute;
  top: 15rem;
  z-index: -1;
}
.mobile-leaders-box {
  width: 85%;
  padding: 0 20px 50px;
  background: var(--third-color) no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000008;
  margin: 9rem auto 5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.mobile-leaders-img-box {
  margin: auto;
  position: relative;
  top: -6rem;
  margin-bottom: -5rem;
  height: 10rem;
  width: 10rem;
  border: 8px solid var(--light-color);
  border-radius: 50%;
  overflow: hidden;
}

.mobile-leaders-img-box img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}
.leader-lv {
  position: relative;
  top: -100px;
  margin-bottom: -75px;
  /* background color will be here once the real SVG is gotten */
}
.leader-lv img{
  width: 70px;
  margin-left: 250px;
}
.mobile-leaders-box p {
  text-align: center;
  color: var(--fourth-color);
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
}

.mobile-leaders-box h3 {
  text-align: center;
  color: #3374ea;
  margin-bottom: 7px;
}
.mobile-leaders-box h4 {
  color: #00be13;
  text-align: center;
  margin: 0.4rem auto 0;
  font-size: 1rem;
  line-height: 30px;
}

.reviews p {
  color: var(--fourth-color);
  margin-top: 20px;
  font-size: 17px;
}

.splide .splide__pagination {
  position: relative;
  top: -1rem;
  text-align: center;
}
.splide__pagination__page {
  background-color: yellow;
  width: 16px;
  height: 16px;
}
.splide__pagination__page.is-active {
  background-color: #fff;
}

.custom-shape-divider-bottom-1646476356 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646476356 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1646476356 .shape-fill {
  fill: var(--light-color);
}

.computer-leaders-section {
  display: none;
}


/* code for FAQ SECTION */
.faq-wrapper {
  max-width: 90%;
  margin: 30px auto;
}
.faqcontainer {
  width: 100%;
  margin: auto;
}
.faq-wrapper h1 {
  text-align: center;
  color: #3374ea;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}
.faqwrapper {
  background-color: var(--third-color);
  margin-bottom: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 20px 17px #1c192305;
}
.faqtoggle,
.faqcontent {
  font-family: "Montserrat", sans-serif;
}
.faqwrapper h3 {
  color: #3374ea;
  font-weight: 600;
}
.faqtoggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #111130;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
  text-align: left;
}

.faqcontent {
  color: var(--dark-color);
  position: relative;
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

/* FAQ ENDS HERE */

/* IPAD  */

@media only screen and (min-width: 768px) {
  .blob-wrapper {
    position: relative;
    overflow-x: hidden;
    z-index: -1;
    height: 1500px;
    top: -100px;
  }

  .mobile-blob {
    object-fit: cover;
    position: relative;
    top: -20rem;
    margin-left: -100px;
    height: 90rem;
    width: 100rem;
  }
  .leaders-about {
    position: relative;
    top: -82rem;
    margin-bottom: -75rem;
  }

  .leaders-about h1 {
    font-family: "Montserrat", sans-serif;
    width: 70%;
    font-weight: 700;
    margin: 10px auto 0;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    margin-left: 6rem;
  }
  .appui {
    position: relative;
    top: px;
    width: 60%;
    margin-left: 5.5rem;
  }

  .signal-packs {
    display: block;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 95px;
    padding-bottom: 0.6rem;
    background: var(--third-color);
    box-shadow: 0px 20px 17px #1c19230d;
    border-radius: 20px;
    z-index: 2;
    transform: rotate(2.4deg);
  }
  .signal-packs.two {
    position: absolute;
    top: 290px;
    left: 600px;
  }
  
  .signal-packs.three {
    position: absolute;
    top: 380px;
  }
  .leaders-aboutP {
    line-height: 30px;
    font-size: 1.5rem;
  }
  .app-download {
    display: block;
    width: 30%;
    margin: 4rem auto 0;
  }

  .leaders-features h1 {
    text-align: center;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .leadersF-blob {
    margin: 2.5rem auto 0;
    width: 90%;
    z-index: -1;
  }

  .share-portfolio-img {
    margin-left: 5rem;
    width: 80%;
    position: relative;
    top: -35rem;
    margin-bottom: -39rem;
  }

  .leaders-features p {
    margin: 0 auto;
    width: 90%;
    color: var(--fourth-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
  }
  .seeSubsimg {
    margin-left: 5rem;
    width: 80%;
    position: relative;
    top: -35rem;
    margin-bottom: -39rem;
  }
  .mobile-leaders-section {
    position: relative;
    top: 7rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10rem;
  }
  .mobile-leaders-section h1 {
    font-size: 2.5rem;
  }
  .mobile-leaders-section h6 {
    font-size: 1.3rem;
  }

  .mobile-leaders-box-background {
    height: 25rem;
  }
  .mobile-leaders-box {
    width: 50%;
  }

  .leader-lv {
    position: relative;
    top: -100px;
    margin-bottom: -75px;
    /* background color will be here once the real SVG is gotten */
  }
  .leader-lv img{
    width: 70px;
    margin-left: 325px;
  }
}

/* IPAD PRO */

@media only screen and (min-width: 1024px) {
  .background-svg {
    display: block;
    position: absolute;
    top: 10rem;
    left: 5rem;
    width: 80%;
    opacity: 0.1;
  }
  .blob-wrapper {
    height: 670px;
    position: relative;
    top: -107px;
    overflow-x: hidden;
  }
  .mobile-blob {
    display: none;
  }
  .computer-blob {
    object-fit: cover;
    position: absolute;
    top: -15rem;
    left: 29rem;
    height: 68.770625rem;
    width: 62.5025rem;
    transform: translateY(27px);
  }

  .leaders-about {
    position: relative;
    top: -37rem;
    margin-bottom: -25rem;
  }
  .leaders-about h1 {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0.9rem 0;
    color: #3374ea;
    font-size: 2.9rem;
    font-weight: 800;
    letter-spacing: 0;
    padding: 0 4rem;
  }

  .appui {
    position: absolute;
    top: -60px;
    left: 35rem;
    width: 40%;
    display: none;
  }
  .signal-packs {
    display: none;
  }

  .leaders-aboutP {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    color: var(--fourth-color);
    font-size: 2rem;
    line-height: 50px;
  }
  .app-downloads {
    width: 100%;
    text-align: center;
  }
  .app-download {
    display: inline-block;
    width: 30%;
    margin: 2rem 1rem;
  }
  .leaders-features {
    margin-top: 10rem;
  }
  .leaders-features h1 {
    text-align: center;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 5rem;
  }

  .leadersF-blob {
    margin-top: 3rem;
    margin-left: 3.5rem;
    width: 90%;
    z-index: -1;
  }

  .share-portfolio-img {
    margin-left: 10rem;
    margin-bottom: -50rem;
    width: 70%;
    position: relative;
    top: -50rem;
  }

  .leaders-features p {
    margin: 0 auto;
    width: 90%;
    color: var(--fourth-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 50px;
  }
  .seeSubsimg {
    margin-left: 10rem;
    margin-bottom: -50rem;
    width: 70%;
    position: relative;
    top: -50rem;
  }
  .mobile-leaders-section {
    display: none;
  }

  .computer-leaders-section {
    display: block;
    position: relative;
    top: 10rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10rem;
  }
  .computer-leaders-section h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0px;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    text-transform: capitalize;
  }
  .computer-leaders-section h6 {
    text-align: center;
    margin: 0.4rem auto 0;
    width: 70%;
    color: var(--fourth-color);
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 500;
  }

  .computer-leaders-box-wrapper {
    position: relative;
    margin-top: 12rem;
    text-align: center;
  }

  /* computer leaders box background first svg */
  .custom-shape-divider-top-1646479334 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1646479334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 86px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1646479334 .shape-fill {
    fill: var(--light-color);
  }

  /*  computer leaders box background first svg  ends */

  .computer-leaders-box-background {
    background: transparent linear-gradient(180deg, #22a1f5 0%, #677bff 100%)
      no-repeat padding-box;
    /* border-top-left-radius: 4rem;
    border-top-right-radius: 4rem; */
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 11rem;
    z-index: -1;
  }

  .computer-leaders-box {
    width: 40%;
    padding: 0px 20px 50px;
    background: var(--third-color) no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000008;
    display: inline-block;
    margin: -2rem 1rem 10rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
  }
  .computer-leaders-img-box {
    margin: auto;
    position: relative;
    top: -6rem;
    margin-bottom: -5rem;
    height: 11rem;
    width: 11rem;
    border: 8px solid var(--light-color);
    border-radius: 50%;
    overflow: hidden;
  }

  .computer-leaders-img-box img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  .leader-lv {
    position: relative;
    top: -120px;
    margin-bottom: -75px;
    /* background color will be here once the real SVG is gotten */
  }
  .leader-lv img{
    width: 80px;
    margin-left: 335px;
  }
  .computer-leaders-box p {
    text-align: center;
    color: var(--fourth-color);
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
  }

  .computer-leaders-box h3 {
    text-align: center;
    color: #3374ea;
    margin-bottom: 7px;
  }
  .computer-leaders-box h4 {
    color: #00be13;
    text-align: center;
    margin: 0.4rem auto 0;
    font-size: 1rem;
    line-height: 30px;
  }
  .reviews p {
    color: var(--fourth-color);
    margin-top: 20px;
    font-size: 17px;
  }
  .faq-wrapper h1 {
    width: 100%;
    margin: 0 auto 2rem;
    text-align: center;
    letter-spacing: 0px;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-transform: capitalize;

  }
  .faqwrapper h3 {
    color: #3374ea;
    font-weight: 800;
    font-size: 1.5rem;
  }
}

/* START COMPUTER SCREEN DESIGN */
@media only screen and (min-width: 1200px) {
  .background-svg {
    display: block;
    position: absolute;
    top: 15rem;
    left: 5.4375rem;
    width: 30%;
  }

  .blob-wrapper {
    height: 41rem;
    position: relative;
    top: -7.5rem;
    overflow-x: hidden;
  }

  .computer-blob {
    display: block;
    object-fit: cover;
    top: -1rem;
    left: 40.8125rem;
    width: 62.5025rem;
    width: 62.5025rem;
    height: 40rem;
    transform: translateY(27px);
    z-index: -1;
  }

  .leaders-about {
    position: relative;
    top: -37rem;
    margin-bottom: -33rem;
  }
  .leaders-about h1 {
    width: 50%;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin: 0.9rem 0;
    color: #3374ea;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0;
    padding: 0 4rem;
  }

  .appui {
    display: block;
    position: absolute;
    top: -3rem;
    left: 40rem;
    width: 25%;
  }

  .leaders-aboutP {
    width: 35%;
    text-align: left;
    margin-top: 4px;
    margin-left: 3.7rem;
    color: var(--fourth-color);
    line-height: 25px;
    font-size: 0.9rem;
  }
  .app-downloads {
    margin-left: 3rem;
    text-align: unset;
    width: 50%;
  }
  .app-download {
    display: inline-block;
    width: 15rem;
    margin: 2rem 1rem;
  }

  .signal-packs {
    display: block;
    position: absolute;
    top: 90px;
    left: 1090px;
    width: 95px;
    padding-bottom: 0.6rem;
    /* height: 110px; */
    background: var(--third-color);
    box-shadow: 0px 20px 17px #1c19230d;
    border-radius: 20px;
    z-index: 2;
    transform: rotate(2.4deg);
  }
  .signal-packs.two {
    position: absolute;
    top: 200px;
    left: 1020px;
  }

  .signal-packs.three {
    position: absolute;
    top: 205px;
    left: 1160px;
  }
  .pack-img-wrapper {
    position: relative;
    top: -20px;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #14cbff 0%, #366be8 100%)
      no-repeat padding-box;
  }
  .pack-img {
    width: 22px;
    height: 23px;
    margin-top: 6px;
    margin-left: 9px;
  }
  .signal-packs p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    font-size: 0.7rem;
  }
  .signal-packs h5 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #3374ea;
    font-weight: 600;
    margin-top: 2px;
    font-size: 17px;
  }
  .leaders-features {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .leaders-features h1 {
    float: right;
    margin-right: 14.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }

  .leadersF-blob {
    margin-top: 3rem;
    margin-left: 0;
    width: 40%;
    z-index: -1;
  }
  .leadersF-blob:hover {
    transform: rotate(20deg);
  }
  .share-portfolio-img {
    position: relative;
    top: -23rem;
    margin-left: 2rem;
    margin-bottom: -30rem;
    width: 30%;
  }

  .share-portfolio-img:hover {
    filter: saturate(100%);
    transform: scale(1.1);
  }

  .leaders-features p {
    width: 40%;
    color: var(--fourth-color);
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    float: right;
    margin-right: 3rem;
    margin-top: -12rem;
  }
  .leaders-features.two {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40rem;
  }
  .leaders-features.two h1 {
    float: left;
    margin-right: 14.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }
  .leaders-features.three h1 {
    float: right;
    margin-right: 5.5rem;
    margin-top: 16rem;
    text-align: left;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
  }
  .leadersF-blob.two {
    float: right;
    margin-top: 3rem;
    margin-left: 0;
    width: 40%;
    z-index: -1;
  }
  .leadersF-blob.two:hover {
    transform: rotate(20deg);
  }
  .seeSubsimg {
    position: relative;
    top: -22rem;
    margin-left: 23rem;
    margin-bottom: -30rem;
    width: 30%;
    float: right;
  }
  .seeSubsimg:hover {
    filter: saturate(100%);
    transform: scale(1.1);
  }
  .leaders-features.two p {
    float: left;
    margin-top: -10rem;
  }
  .app-downloads.wrapper {
    position: relative;
    top: -10rem;
    margin-left: 7rem;
  }

  .app-download.features {
    display: inline-block;
    width: 10rem;
    margin: 2rem 1rem;
  }

  .computer-leaders-section {
    display: block;
    position: relative;
    top: 0rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
  }
  .computer-leaders-section h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0px;
    color: #3374ea;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .computer-leaders-section h6 {
    text-align: center;
    margin: 0.4rem auto 0;
    width: 70%;
    color: var(--fourth-color);
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
  }

  .computer-leaders-box-wrapper {
    position: relative;
    margin-top: 12rem;
    text-align: center;
  }

  /* computer leaders box background first svg */
  .custom-shape-divider-top-1646479334 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1646479334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 86px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1646479334 .shape-fill {
    fill: var(--light-color);
  }

  /*  computer leaders box background first svg  ends */

  .computer-leaders-box-background {
    background: transparent linear-gradient(180deg, #22a1f5 0%, #677bff 100%)
      no-repeat padding-box;
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 3rem;
    z-index: -1;
  }

  .computer-leaders-box {
    width: 24%;
    transform: scale(0.9);
    padding: 0px 20px 50px;
    background: var(--third-color) no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000008;
    display: inline-block;
    margin: -2rem 2rem 10rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
  }
  .computer-leaders-box:hover {
    transition: 1s;
    filter: saturate(100%);
    transform: scale(1.0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .computer-leaders-img-box {
    margin: auto;
    position: relative;
    top: -6rem;
    margin-bottom: -5rem;
    height: 9rem;
    width: 9rem;
    border: 8px solid var(--light-color);
    border-radius: 50%;
    overflow: hidden;
  }

  .computer-leaders-img-box img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  .leader-lv {
    position: relative;
    top: -80px;
    margin-bottom: -75px;
    /* background color will be here once the real SVG is gotten */
  }
  .leader-lv img{
    width: 70px;
    margin-left: 260px;
  }
  .computer-leaders-box p {
    text-align: center;
    color: var(--fourth-color);
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
  }

  .computer-leaders-box h3 {
    text-align: center;
    color: #3374ea;
    margin-bottom: 7px;
  }
  .computer-leaders-box h4 {
    color: #00be13;
    text-align: center;
    margin: 0.4rem auto 0;
    font-size: 1rem;
    line-height: 30px;
  }
  .reviews p {
    color: var(--fourth-color);
    margin-top: 20px;
    font-size: 17px;
  }

  /* code for FAQ SECTION */

.faq-wrapper {
  max-width: 50%;
  margin: 30px auto;
}
.faq-wrapper h1 {
  font-size: 2rem;
}

.faqwrapper h3 {
  font-size: 1rem;
  color: #3374ea;
  font-weight: 600;
}


}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .blob-wrapper {
    height: 1100px;
    position: relative;
    top: -100px;
    overflow-x: hidden;
  }

  .computer-blob {
    display: block;
    object-fit: cover;
    top: -13rem;
    left: 600px;
    height: 1300;
    width: 1300.04px;
    transform: translateY(27px);
    z-index: -1;
  }
}
