/* HEADER AND NAVBAR DESIGNED FROM COMPUTER SCREEN TO IPAD PRO TO MOBILE PHONE  */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #F2F8FF;
    --dark-color: #101010;
}

body {
    background-color:var(--light-color);
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    border: 2px solid #95c8d1;
}
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #3374EA;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.backdrop.active{
    width: 100vw;
    height: 94vh;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
} 
.scrollTop {
    position: fixed; 
    bottom: 400px; 
    right: 30px; 
    z-index: 10; /* Make sure it does not overlap */
    background: greenyellow url('../images/rocket.png'); 
    width: 100px;
    height: 100px;
    cursor: pointer; 
    padding: 25px; 
    border-radius: 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  .scrollTop.scrollactive {
      bottom: 40px;
    visibility: visible;
    opacity: 1;
  }
  
.header{
    font-family: sans-serif;

}

.navbar {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

#moon-icon {
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 370px;
}

.nav-logo {
    width: 20%;

}
.logo {
    height: 100px;
    left: 164px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 170px;
}
nav ul li {
    display: inline-block;
    margin: 27px 20px;
}

nav ul li a {
    color: #525B6D;
    font-size: 14px;
}

nav ul li a:hover {
    color: var(--dark-color);
}
nav ul li a:active {
    border-bottom: 2px solid blue;
}
.actn {
    margin-right: 50px;
}
.actn a {
    cursor: pointer;
    background-color: white;
    border-radius: 30px;
    padding: 7px 25px;
    color: blue;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-color);
}
.bar:nth-child(2) {
    margin-left: 20px;
}
/* on ipad pro screen */

@media only screen and (max-width: 1024px) {
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-track {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    .scrollTop {
        position: fixed; 
        bottom: 400px; 
        right: 90px; 
        width: 100px;
        height: 100px;
        cursor: pointer; 
        padding: 25px; 
        border-radius: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
      }
    .navbar {
        width: 100%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #moon-icon {
        width: 80px;
        cursor: pointer;
        position: absolute;
        top: 25px;
        left: 280px;
    }
    
    .nav-logo {
        width: unset;
    
    }
    .logo {
        height: 100px;
        left: 40px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 20%;
    }
}

/* On Mobile Screens */
@media only screen and (max-width: 440px) {
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-track {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    .scrollTop {
        position: fixed; 
        bottom: 400px; 
        right: 9px; 
        z-index: 99; /* Make sure it does not overlap */
        background: greenyellow url('../images/rocket.png'); 
        width: 80px;
        height: 80px;
        cursor: pointer; 
        padding: 10px; 
        border-radius: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
      }
    .navbar {
        padding-top:1rem;
        width: 100%;
        height: 10vh;
        padding: 10px 30px;
        background-color: #fff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: fixed;
        z-index: 100;

    }
    .logo {
        height: 90px;
        left: 20px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 150px;
    }

    #moon-icon {
        width: 30%;
        position: absolute;
        top: 10px;
        left: 180px;
    }
    nav ul {
        position: fixed;
        left: -110%;
        top: 4.1rem;
        margin-left: 100px;
        flex-direction: column;
        background-color: #fff !important;
        z-index: 2;
        width: 80%;
        height: 100vh;
        border-radius: 10px;
        text-align: left;
        transition: 0.5s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);

    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        display: block;
        margin: 2.5rem 30px;
    }
    .actn {
        margin-left: 20px !important;
    }
    .actn a {
        background-color: blue;
        border-radius: 30px;
        padding: 7px 25px;
        color: #fff;
        font-weight: bold;
    }
    

    .hamburger {
        display: block;
        cursor: pointer;
        background: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}



